body{
    box-sizing: border-box;
    width: 92%;
    margin: auto;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.headers{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-container{
    height: 50px;
    padding: 5px 20px;
    border: 1px solid;
    margin-top: 20px;
}

.nav-data{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img{
    height: 150px;
}

.nav-toggle{
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid;
}

.nav-toggle-menu,
.nav-toggle-close{
    font-size: 25px;
    position: absolute;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav-toggle-close{
    opacity: 0;
}

@media screen and (max-width: 1118px) {
    .nav-menu{
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        padding-block: 1.5rem 4rem;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
        background-color: rgb(193, 193, 253);
    }
}

.nav-link{
    color: black;
    font-weight: bold;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.nav-link:hover{
    background-color: aqua;
}

.show-menu{
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

.show-icon .nav-toggle-menu{
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav-toggle-close{
    opacity: 1;
    transform: rotate(90deg);
}

#main-img{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
}